<h1> Welcome!  </h1>
<h2> Where do you want to go now?</h2>
<form action="\main">
    <input type="submit" value="To see cute cats" />
</form>

<form action="\private">

    <input type="submit" value="To see how Fern truly feels" />
</form>
